<div class="container-fluid">
    <h2 class="text-center">New diary entry</h2>
    <hr>
    <form (ngSubmit) = 'submitForm()' #diaryForm='ngForm'>
        <div class="form-group">
  
            <label for="title">Title</label>
            <input type="text" required class="form-control" id="name" name="name" [(ngModel)]='newActivity.title' >
            
           
        </div>
        <div class="form-group">
  
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="4"  name="description" [(ngModel)]='newActivity.description' ></textarea>
            
            
        </div>
        <div class="form-group">
            <label for="complete">Completion</label>
            <input type='date' id="complete" name="completeDate" [(ngModel)]='newActivity.completeDate' >
              
            
        </div>
        <button type="submit" class="btn btn-success">Add Activity</button>
    </form>
  </div>
