<div class="container-fluid">
    <h2 class="text-center">New diary entry</h2>
    <hr>
    <form (ngSubmit)='submitActivity()'  #diaryForm='ngForm'>
        <div class="form-group">
  
            <label for="name">Title</label>
            <input type="text" required class="form-control" id="name"[(ngModel)]="newActivity.name" name="name">
  
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Title is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="4" [(ngModel)]="newActivity.description" name="description" #description="ngModel"   required></textarea>
            
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                <p>Description is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="complete">Completion</label>
            <input type='date' id="complete" [(ngModel)]="newActivity.completeDate" name="completeDate" #completeDate="ngModel" required>
  
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                <p>Date is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Activity</button>
    </form>
  </div>
