
    <h1>Diary</h1>
    <hr>
    <ul>
      <div *ngFor='let activity of activities'let i = index'>
       <li>{{activity.name}}</li>
       <button (click)='toggleDetails(i)'>Toggle Details</button>
       <app-activity-detail *ngIf='activity.showDescription' [activity]='activity'></app-activity-detail> 
       <p>{{goal.description}}</p>
       <button (click)= 'goalComplete(true)'>Complete</button>
      </div>
    </ul>
    <p *ngIf='activities.length > 5'>You have too many activities</p>
 
    