<div class="container">
    <h1>Diary</h1>
    <hr>
        <div class="row">
            <div class="col-md-6">
                <div *ngFor='let activity of activities ; let i = index'>
                    <li>{{activity.title}}</li>
                    <p>{{activity.description}}</p>
                    <p>This activity will is due in {{activity.completeDate}} days</p>
                    <button type="button" class="btn btn-danger" (click)="deleteActivity(i)">Delete</button>
                </div>
            </div>
    
                <div class="col-md-6">
                    <app-diary-form (addNewActivity) = 'createActivity($event)'></app-diary-form>
                </div>
                <p *ngIf='activities.length > 4'>You have too many activities</p>
                
        </div>
</div>